
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
*{
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: lightgray;
}

#search h1 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    color: darkblue;
}

#search {
    margin-top: 20px;
    border: 5px solid black;
}

#search input {
    padding-left: 7px;
    font-size: large;
    margin: 20px;
    width: 300px;
    height: 40px;
}

#btn {
    padding: 9px;
    width: 90px;
    font-size: large;
}

#main {
    width: 90vw;
    margin: auto
}

#application {
    border: 5px solid darkcyan;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px
}

#background {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    background-color: aliceblue;
    height: 50px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;


}

#background input {
scale:2;
}